# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.mod
*.cmd

# CLion specific files
.idea/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt.user

# CMake specific files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*~

# Backup files
*.bak
*.old
*.orig
*.save

# Other
*.DS_Store
*.directory